.table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    overflow: hidden;
}

.tableHead {
    text-align: left;
    font-size: 18px;
    background-color: #209041;
    color: white;
}

.tableHead tr th {
    padding: 7px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.tableBody tr:nth-child(1n) {
    background-color: white;
}

.tableBody tr:nth-child(2n) {
    background-color: #eae8e8;
}

.tableBody tr:hover {
    background-color: #209041;
    color: white;
    cursor: pointer;
}

.tableBody tr td {
    box-sizing: border-box;
    padding: 5px 0 5px 5px;
}

