.label {
    display: inline-block;
    margin-bottom: 5px;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 650px;
    max-width: 100%;
}

.twoColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input, .select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eae7e7;
    margin-bottom: 10px;
}

.input:focus, .select:focus {
    border: 2px solid #209041;
    outline: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.groupSelect, .groupInput {
    margin-bottom: 5px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.addButton {
    margin-bottom: 5px;
    margin-right: 5px;
}

.selectButton {

}

.closeButton {
    background: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton, .addButton, .selectButton {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.addButton, .selectButton {
    padding: 5px 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}